<div class="form_container">
  <%= form_with model: @user, url: confirmations_path, html: {class: 'form_section'} do |form| %>
    <h1 class= 'form_title_with_info'> Account Confirmation </h1>
    <p class='form_info'> Please confirm your email first.</p>
    <div class="input_container">
      <%= form.email_field :email, required: true, class: 'input_field', placeholder: 'john.doe@example.com' %>
      <%= form.label :email, class: 'input_label' %>
    </div>
    <div class="form_footer">
      <%= link_to 'Back', root_path, class: 'cancel_btn' %>
      <%= form.submit "Send Confirmation", class: 'submit_btn' %>
    </div>
  <% end %>
</div>
